<html>
   <head>
      {{>header}}
   </head>
   <body>
      <div class="navBar">
         <a href="/" class="active">Home</a>
         <a href="./about.html">About Us</a>
      </div>
      <h1>{{title}}</h1>
      <h3>Lunch</h3>
      {{#lunch}}
      <div id="lunch-Menu">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/lunch}}
      <h3>Dinner</h3>
      {{#dinner}}
      <div id="dinner-Menu">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/dinner}}
      <h3>Sides</h3>
      {{#sides}}
      <div id="sides-Menu">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/sides}}
      <h3>Desserts</h3>
      {{#desserts}}
      <div id="sides-Menu">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/desserts}}
      <h3>Drinks</h3>
      {{#drinks}}
      <div id="sides-Menu">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/drinks}}
      <script src="javaScript/accordion.js"></script>
      <script src="javaScript/menu.js"></script>
   </body>
</html>