<html>
   <head>
      {{>header}}
   </head>
   <body>
      <div class="navBar">
         <a href="/" class="active">Menu</a>
         <a href="/about.html">About Us</a>
         {{#user}}
        <a href="/addUser">Add User</a>
         <a href="/newItem">Add dish</a>
         <a href="/setMenu" >Set Menu</a>
         <a href="/logout">Logout</a>
         {{/user}}
{{^user}}
{{/user}}
      </div>
      <h1>{{title}}</h1>
      <main>
      <h3>Lunch</h3>
      {{#lunch}}
      <div id="lunch-Item">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies/Intolerances: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/lunch}}
      {{^lunch}}
Not published yet.
{{/lunch}}
      <h3>Dinner</h3>
      {{#dinner}}
      <div id="dinner-Item">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies/Intolerances: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/dinner}}
      {{^dinner}}
Not published yet.
{{/dinner}}
      <h3>Sides</h3>
      {{#sides}}
      <div id="sides-Item">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies/Intolerances: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/sides}}
      {{^sides}}
Not published yet.
{{/sides}}
      <h3>Desserts</h3>
      {{#desserts}}
      <div id="desserts-Item">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies/Intolerances: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/desserts}}
      {{^desserts}}
Not published yet.
{{/desserts}}
      <h3>Drinks</h3>
      {{#drinks}}
      <div id="drinks-Item">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
            </p>
            <p class="allergy">Allergies/Intolerances: {{allergies}}</p>
            <p class="vegetarian">{{vegetarian}}</p>
            <p class="vegan">{{vegan}}</p>
            {{/allergyInfo}}
         </div>
      </div>
      {{/drinks}}
      {{^drinks}}
Not published yet.
{{/drinks}}
</main>
      <script src="javaScript/accordion.js"></script>
      <script src="javaScript/menu.js"></script>
   </body>
</html>