<html>
   <head>
      {{>header}}
   </head>
   <body>
      <div class="navBar">
         <a href="/" class="active">Home</a>
         <a href="./about.html">About Us</a>
      </div>
      <h1>{{title}}</h1>
      {{#entries}}
      <div id="accordion-Menu">
         <button class="accordion">
            <h4 class="name">{{name}}</h4>
         </button>
         <div class="panel">
            <p class="description">
               Description: {{description}}
            </p>
            <p class="price">
               Price: {{price}}
            </p>
            <p class="ingredients">
               Ingredients: {{ingredients}}
            </p>
            <p class="allergies">
               {{#allergyInfo}}
               </p>Allergies: {{allergies}}</p>
               </p>{{vegetarian}}</p>
               </p>{{vegan}}</p>
               {{/allergyInfo}}
            </p>
         </div>
      </div>
      {{/entries}}
      {{^entries}}
      No Menu items yet.
      {{/entries}}
      <script src="javaScript/accordion.js"></script>
   </body>
</html>