/* General elements* */
::after,
*::before {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #CAD2C5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

.navBar {
    overflow: hidden;
    background-color: #52796F;
    max-width: 100%;
}

.navBar a {
    float: left;
    color: #CAD2C5;
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: medium;
}

.navBar a:hover {
    background-color: #84A98C;
}

.navBar a.active {
    background-color: #84A98C;
    color: #CAD2C5;
}


#input>input {
    width: 100%;
    font-size: 20px;
}

#input>select {
    width: 100%;
    line-height: 200%;
    font-size: 20px;
}

#header {
    padding: 0.5%;
}

/* Menu elements */
.accordion {
    background-color: #52796F;
    color: #CAD2C5;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: #84A98C;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* About us elements */
#about-flexbox {
    display: flex;
    flex-direction: row;
}

#about-flexbox>div {
    background-color: #84A98C;
    width: auto;
    min-height: fit-content;
    margin: 0.5%;
    padding: 0.5%;
    line-height: 200%;
    font-size: 20px;
    border: solid #52796F;
    border-width: 5 5%;
    border-radius: 15px;
}



/* Add User & Login elements */
#addUser-flexbox,
#login-flexbox {
    display: flex;
    flex-direction: row;
}

#addUser-flexbox>div,
#login-flexbox>div {
    background-color: #84A98C;
    width: auto;
    margin: 0.5%;
    padding: 0.5%;
    text-align: justify;
    line-height: 200%;
    font-size: 20px;
    border: solid #52796F;
    border-width: 5 5%;
    border-radius: 15px;
}

#button {
    background-color: #52796F;
    color: #CAD2C5;
    width: 100%;
    height: 30%;
    border-radius: 15px;
}

/* New Item & edit Item elements */
#item {
    background-color: #84A98C;
    max-width: 100%;
    margin: 0.5%;
    padding: 0.5%;
    line-height: 200%;
    font-size: 20px;
    border: solid #52796F;
    border-width: 5 5%;
    border-radius: 15px;
}

#itemButton {
    background-color: #52796F;
    color: #CAD2C5;
    width: 100%;
    height: 5%;
    border-radius: 15px;
}

/* Set menu elements*/
.dish,
.dish:focus {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    line-height: 200%;
    font-size: 20px;
}

.itemType,
.itemType:focus {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    line-height: 200%;
    font-size: 20px;
}

#menuForm {
    background-color: #84A98C;
    width: fit-content;
    margin: 0.5%;
    line-height: 200%;
    font-size: 20px;
    border: solid #52796F;
    border-width: 5 5%;
    border-radius: 15px;
}

#item>button {
    background-color: #52796F;
    color: #CAD2C5;
    width: fit-content;
    margin: 1%;
    padding: 2%;
    height: 5%;
    border-radius: 15px;
}

#items {
    list-style-type: none;
}

#item {
    border: none;
    outline: none
}

#search {
    background-color: #84A98C;
    height: fit-content;
    width: fit-content;
    margin: 0.5%;
    padding: 0.5%;
    line-height: 200%;
    font-size: 20px;
    border: solid #52796F;
    border-width: 5 5%;
    border-radius: 15px;
}

#search>input {
    width: auto;
    font-size: 20px;
}

/* media queries */

@media only screen and (max-width: 425px) {

    /* about us page */
    #about-flexbox {
        display: flex;
        flex-wrap: wrap;
    }

    #about-flexbox>div {
        background-color: #84A98C;
        width: auto;
        min-height: fit-content;
        margin: 0.5%;
        padding: auto;
        font-size: 18px;
        border: solid #52796F;
        border-width: 5 5%;
        border-radius: 15px;
    }

    /* Add user and login page */
    #addUser-flexbox,
    #login-flexbox {
        display: flex;
        flex-wrap: wrap;
    }

    #addUser-flexbox>div,
    #login-flexbox>div {
        width: 100%;
    }

    #button {
        height: 15%;
    }

    /* Set Menu page */
    #search {
        padding: 2%;
        width: auto;
    }

    #search>input {
        width: auto;
        font-size: 20px;
    }
}