<html>
   <head>
      {{>header}}
   </head>
   <body>
      <div class="navBar">
    <a href="/loggedIn">Menu</a>
         <a href="/about.html">About Us</a>
         <a href="/addUser">Add User</a>
         <a href="/newItem" class="active">Add dish</a>
         <a href="/setMenu">Set Menu</a>
         <a href="/logout">Logout</a>
      </div>
      <h1>{{title}}</h1>
      <section>
         <fieldset>
            <legend>Add dish:</legend>
            <form method="post" action="newItem">
               <label for="name">Name:</label><br>
               <input type="text" id="name" name="name" required><br><br>
               <label for="description">Description:</label><br>
               <input type="text" id="description" name="description" required><br><br>               
               <label for="ingredients">Ingredients:</label><br>
               <input type="text" id="ingredients" name="ingredients" required><br><br>
               <label for="allergies">Allergies:</label><br>
               <input type="text" id="allergies" name="allergies"><br><br>
               <label for="vegetarian">Vegetarian friendly:</label><br>
               <select id="vegetarian" name="vegetarian">
               <option value="True" select="selected">True</option>
               <option value="False">False</option>
               </select><br><br>
              <label for="vegan">Vegan friendly:</label><br>
               <select id="vegan" name="vegan">
               <option value="True" select="selected">True</option>
               <option value="False">False</option>
               </select><br><br>
               <label for="price">Price:</label><br>
               <input type="text" id="price" name="price" required><br><br>
               <label for="itemType">Item Type:</label><br>
               <select id="itemType" name="itemType">
               <option value="Lunch" select="selected">Lunch</option>
               <option value="Dinner">Dinner</option>
               <option value="Side">Side</option>
               <option value="Dessert">Dessert</option>
               <option value="Drink">Drink</option>
               </select><br><br>
               <label for="special">Chef Special:</label><br>
               <select id="special" name="special">
               <option value="True" select="selected">True</option>
               <option value="False">False</option>
               </select><br><br>
               <label for="available">Available:</label><br>
               <select id="available" name="available">
               <option value="true" select="selected">True</option>
               <option value="false">False</option>
               </select><br><br>
               <button id="addDish" >Add Dish</button>
            </form>
         </fieldset>
      </section>
   </body>
</html>