<html>
   <head>
      {{>header}}
   </head>
   <body>
      <div class="navBar">
         <a href="/">Menu</a>
         <a href="/about.html">About Us</a>
      </div>
      <h1 id="header">{{title}}</h1>
      <main>
      <div id="login-flexbox">
         <div id="login-div">
            <form id="input" method="post" action="/login">
               <label for="username">Username:</label><br>
               <input type="text" id="username" name="username" required><br>
               <label for="password">Password:</label><br>
               <input type="password" id="password" name="password" required><br><br>
               <button id="button">Login</button>
            </form>
         </div>
          <div id="benifits">
         <p>Login to gain access to the following:</p>
         <ul>
         <li>Add New Dish</li>
         <li>Edit Dish Details</li>
         <li>Delete A Dish</li>
         <li>Set Menu Availabillity</li>
         <li>Add New Staff Members</li>
         </ul>
         </div>
         </div>
         </main>
   </body>
</html>