<html>
   <head>
      {{>header}}
   </head>
   <body>
      <div class="navBar">
         <a href="/loggedIn">Menu</a>
         <a href="/about.html">About Us</a>
         <a href="/addUser">Add User</a>
         <a href="/newItem">Add dish</a>
         <a href="/setMenu" class="active">Set Menu</a>
         <a href="/logout">Logout</a>
      </div>
      <h1>{{title}}</h1>


         {{#menu}}
         <form method="post">
         <input class="dish" value="{{name}}" name="dish" readonly>
         <button class="available" type="submit" formaction="/available" value="{{name}}">Make available</button>
         <button class="unavailable" type="submit" formaction="/unavailable" value="{{name}}">Make unavailable</button>
         <button type="submit" formaction="/{{_id}}">Edit Dish</button>
         </form>
         {{/menu}}
<script src="javaScript/availabillity.js"></script>
   </body>
</html>